/**
Custom css designs
*/
.navbarCustom{
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.mainContainer{
    margin-top: 40px;
}
.rightDropdownMenu{
    right: auto !important;
    left: 0 !important;
}

.navbarCustom a,
.navbarCustom a:hover,
.navbarCustom a:focus
{
    background: transparent !important;
}
.topAbout{
    margin-top: 10px;
}

.SearchStyle{
    width: 740px;
    height: 50px;
    // background-color: hsl(24, 100%, 55%);
    padding-left: 10px;
    padding-right: 10px;
}
p{
    text-align: justify;
}

ul{
    padding-left: 0px;
    font-weight: bold;
}
.radiusLessRight{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.radiusLessLeft{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.radiusLess{
    border-radius: 0px;
    margin-left: -6px;
    margin-right: -6px;
    width: 560px !important;
}

.p{
    border-bottom: 1px;
    border-top: 1px;
    border: 1px;
    
    padding-left: 0px;
    padding-right: 0px;
}
.ibuy_list_group > .list-group-item{
    border: none;
    transition: 0.5s all;
}
.ibuy_list_group > .list-group-item:hover{
    padding-left: 30px;
    margin-right: -30px;
}
.ibuy_list_group .glyphicon-chevron-right{
    color: lightgray;
}
.childMenu{
    display: none;
    position: absolute;
    top: 0px;
    left: 322px;
    z-index: 9999;
    background: #f5f5f5;
    width: 458px;
    height: 352px;
    animation-name: childMenu;
}
.ibuy_list_group >.list-group-item:hover ~ .childMenu{
    display: block;
}